<mat-card class="event-preview-container">
  <div class="row">
    <span class="title">{{ event.title }}</span>
  </div>
  <div class="row">
    <div class="column icon-column">
      <mat-icon class="icon">schedule</mat-icon>
      <span class="text">{{ event | startEnd }}</span>
    </div>
    <div class="column icon-column">
      <div>
        <mat-icon class="icon">check</mat-icon>
        <span class="text">{{ accepted }}</span>
      </div>
      <div>
        <mat-icon class="icon">question_mark</mat-icon>
        <span class="text">{{ tentative }}</span>
      </div>
      <div>
        <mat-icon class="icon">close</mat-icon>
        <span class="text">{{ declined }}</span>
      </div>
    </div>
    <div class="column icon-column">
      <mat-icon class="icon">pin_drop</mat-icon>
      <span class="text">{{ event.location }}</span>
    </div>
    <div class="column icon-column" *ngIf="event.category">
      <mat-icon class="icon">star</mat-icon>
      <span class="text">{{ event.category }}</span>
    </div>
  </div>
  <div class="row">
    <span class="description">{{ event.description }}</span>
  </div>
</mat-card>
