<div class="events-container">
  <mat-tab-group class="tab-group">
    <mat-tab label="My Events">
      <div class="tab-container">
        <a
          *ngFor="let myEvent of myEvents$ | async"
          class="event-preview"
          [routerLink]="myEvent.event.id"
          [queryParams]="
            myEvent.editToken ? { eventEditToken: myEvent.editToken } : null
          "
        >
          <app-event-preview [event]="myEvent.event"></app-event-preview>
        </a>
      </div>
    </mat-tab>
    <mat-tab label="My Signups">
      <div class="tab-container">
        <a
          *ngFor="let mySignup of mySignups$ | async"
          class="event-preview"
          [routerLink]="mySignup.event.id"
          [queryParams]="
            mySignup.editToken ? { signupEditToken: mySignup.editToken } : null
          "
        >
          <app-event-preview [event]="mySignup.event"></app-event-preview>
        </a>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
