<div class="events-container">
  <mat-tab-group class="tab-group">
    <mat-tab label="My Events">
      <div class="tab-container">
        <div *ngFor="let owned of owned$ | async" class="event-preview">
          <app-event-preview [event]="owned"></app-event-preview>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="My Signups">
      <div class="tab-container">
        <div *ngFor="let signedUp of signedUp$ | async" class="event-preview">
          <app-event-preview [event]="signedUp"></app-event-preview>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
