.header {
  height: var(--header-height);

  .home {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;

    .icon {
      margin-right: 8px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  a,
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
}
