html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-height: 60px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
}
