html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-height: 60px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
